{% include "formMacros.html" %}

{# Output all the fields in a schema. Second argument is optional, contains options. #}

{# If "from" is set, start with that field. If "after" is set, start after it. #}
{# If "to" is set, end with that field. If "before" is set, end just before it. #}
{# You can use "from", "to", "after" and "before" to output a portion of the schema fields #}
{# in order, automatically, then output one in a customized way, then resume #}
{# outputting the rest automatically. #}

{# You can also output specific fields by specifying only: [ 'field1', 'field2' ... ] #}
{# or exclude specific fields by specifying except: [ 'field1', 'field2' ... ]. #}

{# Fields are always output in the order specified at configuration time. #}

{# Any field types not known to this macro are skipped, without error. #}

{% macro schemaFields(fields, options = { from: false, to: false, except: [], only: false }) %}
  {% set fromFound = false %}
  {% set toFound = false %}
  {% for field in fields %}
    {% if (not (options.from or options.after)) or (field.name == options.from) %}
      {% set fromFound = true %}
    {% endif %}
    {% if (field.name == options.before) %}
      {% set toFound = true %}
    {% endif %}
    {% set found = fromFound and (not toFound) %}
    {% set notExcepted = (not aposContains(options.except, field.name)) %}
    {% set allowed = (not options.only) or aposContains(options.only, field.name) %}

    {% if (found and notExcepted and allowed) %}
      {# Invokes standard templates for each type in
        apostrophe-schemas/templates/views, or custom renderers
        if supplied for the field's type or that individual field #}
      {{ aposSchemaField(field) }}
      {% if field.help %}
        <p class="apos-help">{{ field.help | e }}</p>
      {% endif %}
    {% endif %}
    {% if (field.name == options.to) %}
      {% set toFound = true %}
    {% endif %}
    {% if (field.name == options.after) %}
      {% set fromFound = true %}
    {% endif %}
  {% endfor %}
{% endmacro %}

